---
import Layout from "../layouts/Layout.astro";
import LinkList from "../components/LinkList.astro";
import links from "../links.json";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
const name = "Aiz";
---

<Layout title="links">
  <div class="flex flex-col items-center gap-8 p-8">
    <Image
      class="rounded-full ring-2 ring-white size-24"
      src={avatar}
      alt="Mashiro Shiina"
    />
    <h1 class="text-6xl drop-shadow-md">{name}</h1>
    <LinkList links={links} />
  </div>
</Layout>
