---
import Layout from "../layouts/Layout.astro";
import LinkList from "../components/LinkList.astro";
import links from "../links.json";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
const name = "Aiz";
const description = "aiz.moe";
---

<Layout title="links">
  <div class="flex flex-col items-center space-y-2 mt-8">
    <Image
      class="rounded-full w-16 h-16 ring-2 ring-white"
      src={avatar}
      alt="Mashiro Shiina"
    />
    <h1>{name}</h1>
    <p>{description}</p>
    <LinkList links={links} />
  </div>
</Layout>
