---
import Layout from "../layouts/Layout.astro";
import LinkList from "../components/LinkList.astro";
import links from "../links.json";
import Profile from "../components/Profile.astro";
---

<Layout title="Aiz - Links">
  <div class="flex justify-center items-center px-2 h-full">
    <div
      class="box-content flex flex-col gap-8 items-center p-12 w-80 bg-gradient-to-br from-indigo-600 to-indigo-800 rounded-xl shadow-lg md:w-96"
    >
      <Profile />
      <LinkList links={links} />
    </div>
  </div>
</Layout>
