---
import Layout from "../layouts/Layout.astro";
import LinkList from "../components/LinkList.astro";
import links from "../links.json";
import Profile from "../components/Profile.astro";
---

<Layout title="links">
  <div class="flex justify-center items-center h-full">
    <div
      class="flex flex-col gap-8 items-center p-8 w-96 bg-gradient-to-br from-indigo-600 to-indigo-800 rounded-xl"
    >
      <Profile />
      <LinkList links={links} />
    </div>
  </div>
</Layout>
