---
import { Icon } from "astro-icon/components";

interface Props {
  links: Array<{ title: string; href: string; icon?: string }>;
}
const { links } = Astro.props;
---

<ul role="list" class="flex flex-col gap-4 w-full max-w-lg min-w-fit">
  {
    links.map((link) => (
      <ul>
        <a href={link.href}>
          <div class="bg-blue-500 shadow hover:bg-blue-400 active:bg-blue-600 whitespace-nowrap flex transition duration-300 ease-in-out justify-center h-14 hover:scale-105 active:scale-95 items-center rounded-full px-8 gap-2 text-lg">
            {link.icon && <Icon class="size-6" name={link.icon} />}
            <h1>{link.title}</h1>
          </div>
        </a>
      </ul>
    ))
  }
</ul>
