---
import { Icon } from "astro-icon/components";

interface Props {
  links: Array<{ title: string; href: string; icon?: string }>;
}
const { links } = Astro.props;
---

<ul role="list" class="flex flex-col gap-2 w-full max-w-lg md:gap-4 min-w-fit">
  {
    links.map((link) => (
      <ul>
        <a href={link.href}>
          <div class="flex gap-8 justify-between items-center px-4 h-14 bg-gradient-to-r from-blue-500 to-blue-600 rounded-xl shadow transition duration-200 ease-in-out delay-150 hover:scale-105 active:scale-95">
            <h1 class="text-lg whitespace-nowrap">{link.title}</h1>
            {!!link.icon && <Icon class="size-6" name={link.icon} />}
          </div>
        </a>
      </ul>
    ))
  }
</ul>
