---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
const name = "Aiz";
const description = "I write silly code sometimes~";
---

<div class="flex flex-col gap-4 items-center md:gap-8">
  <Image
    class="rounded-full ring-4 ring-white size-24 md:size-36 lg:size-48"
    src={avatar}
    alt="Aiz's profile picture, a picture of Mashiro Shiina."
  />
  <h1 class="text-6xl font-bold drop-shadow-md">{name}</h1>
  <p>{description}</p>
</div>
