---
import "@fontsource-variable/roboto-condensed";
import { Image } from "astro:assets";
import background from "../assets/background.png"
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="h-screen text-white"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <Image class="object-cover absolute h-screen" src={background} alt=""/>
    <div class="h-screen backdrop-blur"><slot /></div>
  </body>
</html>
